*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}
.username
{
  height: 80px;
  background-color: #282828;
  padding: 1rem;
  color: #FFF;
}
.wrapper {
    height: 100%;
    width: 100%;
    background: #FF4E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.happy {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sad {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.relax {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.party {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF070B, #E5008D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF070B, #E5008D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

.happy header {
    height: 80px;
    background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B);
    padding: 1rem;
    color: Black;
    font-family: helvetica;
}

.happy .content {
    flex:1;
    background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
font-family: helvetica;
}

.happy footer {
    height: 80px;
    background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 1rem;
}

.sad header {
    height: 80px;
    background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 1rem;
    color: #FFF;
}

.sad .content {
    flex:1;
    background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sad footer {
    height: 80px;
    background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 1rem;
}

.relax header {
    height: 80px;
    background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 1rem;
    color: #FFF;
}

.relax .content {
    flex:1;
    background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.relax footer {
    height: 80px;
    background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 1rem;
}

.party header {
    height: 80px;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF070B, #E5008D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF070B, #E5008D, #000000);
    padding: 1rem;
    color: #FFF;
}

.party .content {
    flex:1;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF070B, #E5008D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF070B, #E5008D, #000000);
}

.party footer {
    height: 80px;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF070B, #E5008D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF070B, #E5008D, #000000);
    padding-top: 1rem;
}
.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: darkgrey;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.happy .content {
    width: 800px;
    margin: 2rem auto;
}
.sad .content {
    width: 800px;
    margin: 2rem auto;
}

.relax .content {
    width: 800px;
    margin: 2rem auto;
}

.party .content {
    width: 800px;
    margin: 2rem auto;
}


.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}
.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}
table.dataTable tbody tr {
    background-color: initial;
}
#happy_info {
    display: none;
}

#happy_filter {
    color: transparent;
}
#happy_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}
#sad_info {
    display: none;
}

#sad_filter {
    color: transparent;
}
#sad_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}
#party_info {
    display: none;
}

#party_filter {
    color: transparent;
}
#party_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}
#relax_info {
    display: none;
}

#relax_filter {
    color: transparent;
}
#relax_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}
.img-gallery{
    height:200px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    border: 5px solid white;
    margin : 40px;

}
.gallery {
    padding: 5px;
    background: #FF4E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.image-div
{
  position: relative;
  margin: 0 auto;
  width: 50%;
}
.dataTables_info
{
  display: none;
}
